<h1>New Track</h1>

<form action="<%= album_tracks_url(params[:album_id]) %>" method="post" accept-charset="utf-8">


	<input type="hidden" name="authenticity_token" value="form_authenticity_token">

	<label for="name">Name</label>
	<input type="text" name="track[name]" id="name">
  <br>

	<label for="regular">Regular</label>
	<input type="radio" name="track[status]" value="regular" id="regular">
	<label for="bonus">Bonus</label>
	<input type="radio" name="track[status]" value="bonus" id="bonus">
  <br>

	<label for="lyrics">Lyrics</label>
	<textarea name="track[lyrics]" id="lyrics">
	</textarea>

	<p><input type="submit" value="Add Track &rarr;"></p>
</form>